* {
    transition: all 0.2s !important;
}

body::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: #474747;
    border-radius: 10px;
}

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    overflow-x: hidden;
    margin-top: 40px;
    padding-top: 60px;
}

h1 {
    text-shadow: 0px 0px 1px #2C7300;
}

canvas {
    width: 100vw;
}
